* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #a9d7d1;
  font-family: 'Arial', sans-serif;
  text-align: center;
  padding: 10px;
}

#title {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

#description {
  padding: 20px 0px;
}

.container {
  width: 75%;
  margin: 0 auto;
  background-color: rgb(250 ,250 ,250);
  border-radius: 4px;
  padding: 10px;
  max-width: 900px;
  padding-top: 20px;
}

#survey-form {
  max-width: 80%;
  margin: 0 auto;
}

.form-row {
  text-align: center;
}

.labels {
  display: inline-block;
  text-align: right;
  padding: 5px;
  width: 40%;
  vertical-align: top;
  margin-top: 10px;
}
 
.right-column {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  width: 48%;
}

input, select {
  height: 30px;
  border-radius: 2px;
  padding: 5px;
  margin: 10px;
}

input {
   width: 280px;
}

#dropdown {
  height: 35px;
  width: 140px;
  padding: 5px;
  margin: 10px;
  margin-top: 15px;
  border-radius: 2px;
}

#radio {
  width: 15px;
  vertical-align: middle;
}
  
#comments {
  height: 50px;
  width: 280px;
  padding: 5px;
  margin: 10px;
  border-radius: 2px;
}

#checkbox {
  width: 15px; 
  vertical-align: middle;
}

.button {
  margin: 10px;
}

#submit {
  background-color: #59ace0;
  border-radius: 4px;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin: 10px;
}




